[Desktop Entry]
Name=QMQTT Client
Comment=MQTT Client GUI Written with Qt 
Icon=qmqtt-client
Type=Application
Categories=Engineering;Development;
Exec=qmqtt-client
